@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Mert Can SATIOĞLU. I was born 19th June of 1993. I have graduated from Vakiflar Primary School in 2007. Then I have started to Ankara Anatolian School in 2007 and I have graduated from there in 2011. After that I have started to Yıldırım Beyazıt University in 2011 and still I continue to educate as a computer engineer in here. My hobbies are eSports, Web, Hunting and Fishing, Some kind of sports and Writing Articles on a Blog.</p>
