@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
     Eryaman District <br />
     II. Meşrutiyet Street<br />
     Oyak Atakent Site C42/43<br />
     ERYAMAN-ETIMESGUT/ANKARA<br />
    <abbr title="Phone">P:</abbr>
    (0312) 282 11 59
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mertcansatioglu93@hotmail.com">mertcansatioglu93@hotmail.com</a><br />
</address>