@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Mertcan Satıoğlu - Curriculum Vitae</title>

    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="The Curriculum Vitae of Joe Bloggs." />
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="headshot.jpg" alt="Alan Smith" />
            </div>

            <div id="name">
                <h1 class="quickFade delayTwo">Mert Can SATIOGLU</h1>
                <h2 class="quickFade delayThree">Computer Engineer</h2>
            </div>

            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>e: <a href="mailto:mertcansatioglu93@hotmail.com" target="_blank">mertcansatioglu93@hotmail.com</a></li>
                    <li>m: 05383449926</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">
            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Personal Profile</h1>
                    </div>

                    <div class="sectionContent">
                        <p>
                           Name, Surname	: Mert Can SATIOGLU <br>
                           Gender		    : Male<br>
                           Date of Birth	: 19.06.1993<br>
                           Marital Status	: Single<br>
                           Nationality		: T.C.<br>
                           Driving License 	: B<br>
                           Military Status	: Postponed<br>
                        </p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Free Web Developer</h2>
                        <p class="subDetails">April 2011 - Present</p>
                        <p>I have been working as a web applications developer for 4 years for different companies.</p>
                    </article>

                    <article>
                        <h2>Web Developer in BiSoft Software</h2>
                        <p class="subDetails">January 2007 - March 2011</p>
                        <p>I have worked for BiSoft Software Company for developing web based applications.</p>
                    </article>

                    <article>
                        <h2>Salesperson in TeknoBilisim A.S.</h2>
                        <p class="subDetails">October 2004 - December 2006</p>
                        <p>I have worked in TeknoBilişim A.S. for explaining products, maintanence of products and sales of the products.</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Key Skills</h1>
                </div>

                <div class="sectionContent">
                    <ol class="keySkills">
                        <li>Word(Advanced)</li>
                        <li>Excel(Advanced)</li>
                        <li>C Programming Language(Advanced)</li>
                        <li>C++(Elementary)</li>
                        <li>Object Oriented Programming(Advanced)</li>
                        <li>Oracle DB(Intermediate)</li>
                        <li>HTML, CSS and JavaScript(Advanced)</li>
                        <li>Web Based Java Applications(Elementary)</li>
                    </ol>
                </div>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>Ankara Anatolian College</h2>
                        <p class="subDetails">Graduated</p>
                        <p>I have been educated in Ankara Anatolian College for 4 years.(From 2007-2011)</p>
                    </article>

                    <article>
                        <h2>Yıldırım Beyazıt University</h2>
                        <p class="subDetails">Computer Engineering (Continues)</p>
                        <p>I have started to be educated in YBU in 2011. Still, I have been to continue to be educated as a computer engineer.</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>

        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
</body>
</html>
